body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.container{
  text-align:center;
  padding: 2rem;
  border-radius: 5vw;
  background-color: #fff;
  flex: 0 0 80%
}
canvas {
  display: block;
}

#quoteBtn {
  border:none;
  color: #00f;
  background: #fff;
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 2vw;
  cursor: pointer;
  text-transform: capitalize;
  
}

#quoteBtn:hover{
  color:#00f;
   text-decoration: underline;    
}

blockquote{
  background: #0af;
  border-radius: 1.5vw;
  border-left: 10px solid;
  border-right: 10px solid;
  padding: 0vw;
  margin: 5vw;
}

#quoteAuthor {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)


}
  
  
  
  
  